* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 5px;
  font-size: 20px;
}
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main aside"
    "main main aside"
    "footer footer footer";
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 20% 5% 65% 10%;
  column-gap: 10px;
  row-gap: 16px;
  height: 95%;
}
.container * {
  padding: 10px;
}
header {
  grid-area: header;
  background-color: #1e8126;
  display: flex;
}
.navigation {
  margin: auto 0px auto auto;
  background-color: #c2c5a8;
  width: 15rem;
}
.main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  background-color: #85f1a9;
  overflow: hidden;
}
.article {
  margin-top: 10px;
  background-color: #1e8126;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

}
.section {
  background-color: #a9fdac;
  margin: 5px;
  height: 23%;
  width: 100%;
}
.footer-main {
  margin: 5px;
  background-color: #6eb168;
  width: 100%;
}
.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: aside;
  background-color: #85f1a9;
  overflow: hidden;
}
.sectionTwo {
  margin-top: 10px;
  background-color: #a9fdac;
  border:1px solid #0a470f;
  height: 100vh;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  background-color: #6eb168;
}
p{
    display: flex;
    text-align: center;
    font-size: 17px;
}
